.timeline_container {
      min-height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 50px 0;
      position: relative;
      /* background-color: #161617; */
      background: linear-gradient(-45deg, #161617, #ffffff, #161617);
      color: #f5f5f7;
}

.timeline_header{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      position: relative;
      margin-bottom: 30px;
}

.timeline_header_title{
      font-size: 34px;
}

.timeline_header_description{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 1rem 0 2rem 0;
      min-width: 368px;
      font-size: 18px;
}

.timeline {
      width: 80%;
      height: auto;
      max-width: 800px;
      margin: 0 auto;
      position: relative;
}

.timeline .timeline_details {
      padding: 20px;
      background-color: #000000;
      border-radius: 10px;
      margin-bottom: 20px;
      /* box-shadow:5px 5px 10px rgba(255, 255, 255, 0.219); */
}

.timeline .timeline_details:last-child {
      margin-bottom: 0;
}

.timeline_content_title {
      font-weight: 500;
      font-size: 25px;
      line-height: 30px;
      margin-bottom: 10px;
}

.timeline_content_details {
      /* font-style: none; */
      font-weight: 500;
      font-size: 16px;
      margin: .5rem 0;
}

.timeline_content_desc {
      font-size: 16px;
      line-height: 30px;
      font-weight: 300;
}

.timeline_img{
      width: 100%;
      height: 100%;
      border-radius: 20px;
}

.triangle_container {
      width: 0;
      height: 0;
      display: flex;
      align-items: center;
      justify-content: center;
}

@media only screen and (min-width: 768px) {
      .timeline_header_title {
            font-size: 44px;
      }

      .timeline_header_description{
            margin: 2rem 0 3rem 0;
            font-size: 18px;
      }

      .timeline:before {
            content: "";
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 3px;
            height: 100%;
            background-color: #f5f5f7;
            transition: background 0.5s ease-in-out;
            background: linear-gradient(to bottom, #161617, rgb(49, 49, 49), rgb(121, 121, 121), rgb(173, 173, 173), rgb(231, 231, 231), rgb(173, 173, 173), rgb(121, 121, 121), rgb(49, 49, 49), #161617);
      }

      .timeline .timeline_item .timeline_details {
            width: 50%;
            position: relative;
            margin-bottom: 50px;
      }

      .timeline .timeline_item .timeline_details:nth-child(odd) {
            float: left;
            clear: right;
            transform: translate(-40px,0);
            border-radius: 20px 0px 20px 20px;
      }

      .timeline .timeline_item .timeline_details:nth-child(even) {
            float: right;
            clear: left;
            transform: translate(40px,0);
            border-radius: 0px 20px 20px 20px;
      }


      /* 分隔線*/
      .triangle_container {
            width: 42px;
            height: 42px;
            display: flex;
            align-items: center;
            justify-content: center;
      }

      .triangle {
            fill: none;
            stroke: #00000081;
            stroke-width: 40;
      }

      .triangle-shape {
            stroke: #f5f5f781;
            stroke-linejoin: round;
            position: relative;
            animation: expand 3s linear infinite;
      }

      /* left */
      .timeline_details:nth-child(odd) .triangle_container{
            position: absolute;
            top: 0;
            left: 0;
            transform: translatex(400px);
      }

      .timeline_details:nth-child(odd) .triangle{
            transform: rotate(90deg);
      }

      /* right */
      .timeline_details:nth-child(even) .triangle_container{
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-400px,-14px);
      }

      .timeline_details:nth-child(even) .triangle{
            transform: rotate(-90deg);
      }

      .triangle-shape::before,
      .triangle-shape::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transform: scale(0.8);
            /* stroke: #0f0; */
            stroke-linejoin: round;
            animation: expand 2s linear infinite;
      }

@keyframes expand {
      0%  {
            transform: scale(0.8);
            opacity: 0;
      }
      50%  {
            opacity: 0.8;
      }
      100% {
            transform: scale(1.2);
            opacity: 0;
      }
}

      .timeline_details:hover .triangle-shape {
            /* animation-play-state: paused; */
            opacity: 1;
            stroke: #f5f5f7;
      }

      .timeline_details:hover .triangle {
            /* animation-play-state: paused; */
            opacity: 1;
            /* stroke: #ff0000; */
            fill: #f5f5f7;
      }
}